/* Contact section */
.contact-section {
    padding: 30px 20px;
    text-align: center;
    flex-grow: 1;
}

.contact-section h1 {
    font-weight: 300;
    font-size: 1.8rem;
    color: #ffffff;
}

.contact-section p {
    font-weight: 300;
    font-size: 1.2rem;
    color: #dddddd;
    margin-bottom: 20px;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Space between each button */
    padding: 0;
    margin: 0;
}

.social-buttons a {
    display: block;
    width: 100%; /* Ensure full-width buttons */
    max-width: 280px; /* Set maximum width for buttons */
}

.btn {
    display: block;
    padding: 15px 20px; /* Ensure consistent padding */
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgba(30, 80, 150, 0.8);
    border-radius: 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width */
    max-width: 280px; /* Consistent width */
}

.btn:hover {
    background-color: rgba(21, 63, 132, 0.9);
    transform: translateY(-2px);
}

.email-btn {
    background-color: rgba(212, 70, 56, 0.8);
}

.email-btn:hover {
    background-color: rgba(179, 58, 47, 0.9);
}

.instagram-btn {
    background-color: rgba(225, 48, 108, 0.8);
}

.instagram-btn:hover {
    background-color: rgba(193, 53, 132, 0.9);
}

.twitter-btn {
    background-color: rgba(29, 161, 242, 0.8);
}

.twitter-btn:hover {
    background-color: rgba(10, 133, 217, 0.9);
}

.linkedin-btn {
    background-color: rgba(0, 119, 181, 0.8);
}

.linkedin-btn:hover {
    background-color: rgba(0, 85, 130, 0.9);
}

.facebook-btn {
    background-color: rgba(66, 103, 178, 0.8);
}

.facebook-btn:hover {
    background-color: rgba(54, 88, 153, 0.9);
}

.tiktok-btn {
    background-color: rgba(0, 0, 0, 0.8);
}

.tiktok-btn:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

footer {
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(15, 17, 18);
    font-size: 0.8rem;
    color: #ffffff;
    flex-shrink: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hero-headshot {
        width: 50vw;
    }

    .hero-academic-info p {
        font-size: 4vw;
    }

    .degree-info {
        font-size: 4vw;
    }
}

@media (max-width: 480px) {
    .hero-headshot {
        width: 70vw;
    }

    .hero-academic-info p {
        font-size: 5vw;
    }

    .degree-info {
        font-size: 5vw;
    }
}